#div {
    padding: 12px 80px;
    width: 980px;
}

#first {
    color: #323232;
    margin-left: 179px;
    font-size: 18px;
}

#second {
    color: #323232;
    margin-left: 20px;
    font-size: 18px;
}

#third {
    color: #323232;
    margin-left: 20px;
    font-size: 18px;
}

#fourth {
    color: #323232;
    margin-left: 20px;
    font-size: 18px;
}

#fifth {
    border: 1px solid #AC00FF;
    background-color: #E9D7FE;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 195px;
    font-size: 14px;
}

#second-div {
    width: 841px;
    margin-left: 214px;
    margin-top: 136px;
}

#sixth {
    width: 720px;
    color: #323232;
    font-size: 64px;
}

#seventh {
    color: #323232;
    width: 841px;
    font-size: 24px;
    margin-top: 24px;
}

#eight {
    width: 422px;
}

#nine {
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    width: 156px;
    padding: 13px 16px;
    background-color: #5e4792;
}

#ten {
    color: #FFF;
    font-size: 18px;
}

#eleven {
    vertical-align: middle;
    margin-left: 24px;
}

#twelve {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 12px;
    text-decoration: underline;
}

#therteen {
    margin-top: -200px;
    margin-left: 628px;
}

#fortheen {    
    margin-left: 236px;
    width: 1048px;
}